<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37849751232-j6jvm6uk4756i1mupooapp2isa7obg8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37849751232-j6jvm6uk4756i1mupooapp2isa7obg8q</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ2kK4xhxUm6GCPoC7Lv7d6Jd4XRTsE2w</string>
	<key>GCM_SENDER_ID</key>
	<string>37849751232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashokjaiswal.home</string>
	<key>PROJECT_ID</key>
	<string>recipebook-1a8d7</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebook-1a8d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37849751232:ios:86f8f32029de1e31039725</string>
</dict>
</plist>
